@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
  font-family: 'Inter', sans-serif
}
h1 {
  font-size: 32px !important
}
h2 {
  font-size: 24px !important
}
.btn {
  text-decoration: none;
      font-size: 20px;
      color: rgba(63, 63, 63, 1);
      &:hover {
        color: black;
      };
      padding: 0;
      &:focus {
      box-shadow: none !important;
      svg {
        path {
          fill: magenta;
        }
      }

      }
}
@import 'bootstrap';