@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
  font-family: 'Inter', sans-serif
}
h1 {
  font-size: 32px !important
}
h2 {
  font-size: 24px !important
}
.btn {
  text-decoration: none !important;
      font-size: 20px !important;
      color: rgba(63, 63, 63, 1) !important;
      &:hover {
        color: black !important;
      };
      padding: 0 !important;
      &:focus {
      box-shadow: none !important;
      svg {
        path {
          color: rgba(63, 63, 63, 1);
          fill: black;
        }
      }

      }
}
@import 'bootstrap';